langchain==0.1.4
langchain_community==0.0.16
langchain_google_genai==0.0.6
Pillow==10.2.0
protobuf==4.25.2
PyPDF2==3.0.1
python-dotenv==1.0.1
streamlit==1.29.0
streamlit_chat==0.1.1
pdfplumber
haystack
transformers
faiss-cpu
